#container {
    margin: 50px auto;
    width: 370px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

button {
    height: 90px;
    flex: 0 1 90px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 3em;
}

#display {
    font-family: monospace;
    margin: 5px;
    background-color: cadetblue;
    border-radius: 5px;
    flex: 1;
    text-align: end;
    border: 2px solid teal;
    font-size: 5em;
}

#back,
.operator {
    background-color: chocolate;
}

#zero {
    flex-basis: 180px;
}

#clear {
    flex-basis: 180px;
    background-color: chocolate;
}

.number,
#dot {
    background-color: blanchedalmond;
}